// // rules_version = '2';
// rules_version = '2';
// service cloud.firestore {
//     match /databases/{database}/documents {
//         match /questions/{id} {
//             allow read: if request.auth != null;
//         }
//     }
// }
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /question/{id} {
      allow read: if request.auth.uid == resource.data.createdBy;
    }
    match /questions {
      allow read: if request.auth.uid == resource.data.createdBy;
    }
  }
}